/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fade-in-up {
    animation-fill-mode: both;
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
    /* Fallback */
}

.fade-in-up.visible {
    animation-name: fadeInUp;
    animation-duration: 0.8s;
    opacity: 1;
    transform: none;
}